.infracao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;

    border: 2px solid #fdfdfd;
    border-radius: 12px;
    margin-top: 24px;

    width: 240px;
}

.infracao .data {
    border-bottom: 2px solid #fdfdfd;
    margin-bottom: 8px;
}

.infracao .descricao {
    border-top: 2px solid #fdfdfd;
    margin-top: 8px;
    padding-top: 8px;
    width: 100%;

    text-align: center;
}

.infracao .descricaoText {
    text-align: center;
}

.infracao .btn {
    margin-top: 16px;
    background-color: #d15454;
    width: 100%;
    border-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.infracao .btn:hover {
    background-color: #b03c3c;
}